.popup__duty{
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  margin-top: 30px;
}
.popup__duty:focus{
  box-shadow: 0px 0px 1px 1px rgb(33, 124, 209);
}