.element__like {
  width: 22px;
  background: none;
  background-image: url('../../../images/element-like.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: none;
  transition: opacity 0.5s;
  cursor: pointer;
  min-height: 19px;
  padding: 0;
}
.element__like:hover {
  opacity: 0.5;
}
